<body>

  <h1>Director #<%= @director_id %> details</h1>
  <a href="/directors"> Go back </a>
  <hr></hr>
  <dl>
    <dt>
      Name
    </dt>
    <dd>
      <%= @x.name %>
    </dd>
    <dt>
      Dob
    </dt>
    <dd>
      <%= @x.dob %>
    </dd>
    <dt>
    Bio
    </dt>
    <dd>
      <%= @x.bio %>
    </dd>
  <dl>
  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @x.image %>" style="width:250px;"> 
  </dd>
  <dt>
    Created at
  </dt>
  <dd>
    <%= @x.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= @x.updated_at %>
  </dd>
</dl>

<hr>

<h2>Filmography</h2>
<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
    </th>
  </tr>
<% @movie_array.order({:year => :desc}).each do |the_movie| %>
<tr>
        <th><%= the_movie.id %></th>
        <th><img class="row-image"; src="<%= the_movie.image %>"; alt="Director Picture"; style="width:250px;"></img></th>
        <th><%= the_movie.title %></th>
        <th><%= the_movie.year %></th>
        <th><a class="row-text"; href="/movies/<%= the_movie.id %>">Show Details</a></th>
      </tr>
<% end %>


</body>
